<header>
    <img src="assets/img/glacy.jpeg" assets="Glacy Gomes - Foto de perfil" width="130px" height="130px" loading="eager"/>
</header>
<aside>
    <div class="container">
        <p>Frontend Javascript | Angular | Typescript </p>
        <p>São Luís, Maranhão, Brasil</p>
        <p>Estou na área de desenvolvimento de software a mais de 3 anos.</p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/glacygomes/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do Whatsapp" width="22px" height="24px"/>

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5598986013883" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>Whatsapp: (98) 9 8601-3883</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para contato de e-mail" width="22px" height="24px"/>

                <figcaption>
                    <a href="mailto:glacy.kelly3@gmail.com" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>glacy.kelly3&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>

        
    </div>
</aside>